<nav class="bg-gray-200">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb breadcrumb-scroll">
                    <li class="breadcrumb-item">
                        {% if is_granted('ROLE_PATIENT') %}
                            <a href="{{ path('app_patient_dashboard', {'id':app.user.id}) }}" class="text-gray-700">
                                Patient
                            </a>
                        {% elseif is_granted('ROLE_DOCTOR')%}
                            <a href="{{ path('app_doctor_dashboard', {'id':app.user.id}) }}" class="text-gray-700">
                                Kinésithérapeute
                            </a>
                        {% elseif is_granted('ROLE_ADMIN')%}
                            <a href="{{ path('app_admin_dashboard') }}" class="text-gray-700">
                                Admin
                            </a>
                        {% else %}
                            <a href="#!" class="text-gray-700">
                                Home
                            </a>
                        {% endif %}
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ pageName }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</nav>