<div class="footer">
    <div>
        <p class="copyright">© 2023 - Kivid - Tous droits réservés</p>
        {# <div class="primary-links">
            <a href="#">Boutique en lignes</a>
            <a href="#">Partenaires</a>
        </div> #}
    </div>
    <div class="secondary-links">
        <a href="{{ path('app_conditions_utilisation') }}">CGU</a>
        <a href="{{ path('app_cgv') }}">CGV</a>
        <a href="{{ path('app_politique-confidentialite') }}">Politique de Confidentialité</a>
    </div>
</div>