<div class="footer">
    <div>
        <p class="copyright">© 2023 - Kivid - Tous droits réservés</p>
        {# <div class="primary-links">
            <a href="#">Boutique en lignes</a>
            <a href="#">Partenaires</a>
        </div> #}
    </div>
    <div class="secondary-links">
        <a href="{{ path('app_conditions_utilisation') }}">CGU</a>
        <a href="{{ path('app_cgv') }}">CGV</a>
        <a href="{{ path('app_politique-confidentialite') }}">Politique de Confidentialité</a>
    </div>
    <script>
        window.axeptioSettings = {
        clientId: "6505b0c58afcfdaf4567c46f",
        cookiesVersion: "kivid-fr",
        };
        
        (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
</div>