<div class="footer">
    <div>
        <p class="copyright">© 2021 - Kivid - Tous droits réservés</p>
        <div class="primary-links">
            <a href="#">Boutique en lignes</a>
            <a href="#">Partenaires</a>
        </div>
    </div>
    <div class="secondary-links">
        <a href="#">Mentions légales</a>
        <a href="#">CGU</a>
        <a href="#">Cookies</a>
    </div>
</div>