{% extends 'base.html.twig' %}

{% block title %}Home Kivid{% endblock %}

{% block body %}
<div>
    <h1>Home Kivid</h1>

    Bienvenue !
    
    <a href="{{ path('app_login') }}">Se connecter</a>
    <a href="{{ path('app_register') }}">S'inscrire</a>
</div>
{% endblock %}
