{% extends 'base.html.twig' %}

{% block title %}Home Kivid{% endblock %}

{% block body %}
{% for rubrique, messages in app.flashes %}
    {% for message in message %}
        <div> {{ rubrique }} :  {{ message }}</div>
    {% endfor %}
{% endfor %}

<div class="example-wrapper">
    <h1>Home Kivid</h1>

    Bienvenue !
    
    <p>S'inscrire en tant que <a href="{{ path('app_register_patient') }}">Patient</a></p>
    <p>S'inscrire en tant que <a href="{{ path('app_register_doctor') }}">Kiné</a></p>
</div>
{% endblock %}
