{% extends 'layout/vue.html.twig' %}

{% block title %}maquette{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('maquette') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('maquette') }}
{% endblock %}

{% block body %}
	<div>
		<div id="vue"></div>
	</div>
{% endblock %}
{% block vueData %}
	{
	}
{% endblock %}
