{% extends 'layout/main.html.twig' %}

{% block title %}Politique de Confidentialité | KIVID{% endblock %}

{% block body %}
    <div class="container ckivid">
        <h1>
            <strong>Politique de Confidentialité</strong>
        </h1>
        <p align="JUSTIFY">
            Cette Politique de Confidentialité est la base pour traiter toutes Données
            Personnelles que nous rassemblons ou que vous nous fournissez au travers du
        site web disponible à l’adresse <a href="/">www.kivid.fr</a> (ci-après dénommé «
            la Plateforme »), ainsi qu’à toute recherche effectuée sur ladite
            Plateforme, et/ou toute utilisation de ladite Plateforme par l’internaute
            qui s’y connecte (« l’Utilisateur »).
        </p>
        <h3>
            <a name="Bookmark1"></a>
            <strong>1. Identité des responsables de traitement</strong>
        </h3>
        <p align="JUSTIFY">
            Chaque professionnel praticien est considéré comme responsable de
            traitement des données personnelles de santé de ses Utilisateurs, tandis
            que KIVID agit comme sous-traitant agissant sur instruction particulière de
            chaque praticien.
        </p>
        <p align="JUSTIFY">
            KIVID est considéré comme responsable de traitement des données relatives à
            la création du compte personnel de l'utilisateur, de sa navigation sur la
            Plateforme, à la création de statistiques relatives à l'utilisation de
            l'outil.
        </p>
        <h3>
            <a name="Bookmark1"></a>
            <strong>2. Données que nous pouvons collecter vous concernant</strong>
        </h3>
        <p>
            Nous pouvons être amenés à rassembler et traiter les Données Personnelles
            suivantes :
        </p>
        <ul>
            <li>
                <p align="JUSTIFY">
                    Informations que vous nous fournissez en remplissant des champs
                    libres ou formulaires sur notre Plateforme. Les mentions sous ces
                    formulaires rappellent les droits dont vous disposez sur vos
                    informations, comme stipulé ci-après ;
                </p>
            </li>
            <li>
                <p align="JUSTIFY">
                    Si vous nous contactez, nous pouvons garder un rapport de cette
                    correspondance et nous pouvons enregistrer vos communications avec
                    nous pour des contrôles de qualité et à des fins de formation ;
                </p>
            </li>
            <li>
                <p align="JUSTIFY">
                    Des détails de vos visites sur notre Plateforme – notamment, à des
                    données relatives au trafic, votre parcours, votre langue de
                    navigateur, des données de localisation, des carnets web et
                    d’autres informations de communication – et les ressources
                    auxquelles vous accédez.
                </p>
            </li>
        </ul>
        <h3>
            <a name="Bookmark2"></a>
            <strong>3. Durée de conservation des informations que nous pouvons acquérir vous
            concernant</strong>
        </h3>
        <p align="JUSTIFY">
            La période de rétention pour des données et/ou des informations de notre
            Plateforme est de 13 mois à l’exception des données ayant fait l’objet d’un
            processus d’anonymisation conformément à la législation applicable.
        </p>
        <p align="JUSTIFY">
            Toutefois, certaines données peuvent être conservées pour une plus longue
            durée et notamment (i) pendant toute la durée de vie de votre compte en
            ligne et jusqu’à sa suppression, le cas échéant, (ii) pendant la durée
            stipulée dans tout contrat qui serait conclu avec KIVID.
        </p>
        <h3>
            <a name="Bookmark3"></a>
            <strong>6. Politique en matière de cookies</strong>
        </h3>
        <p align="JUSTIFY">
            Nous pouvons obtenir des informations sur votre utilisation d’Internet en
            général en utilisant des dispositifs d’accès notamment de type cookie (un
            cookie est un petit fichier texte qui est gardé sur le disque dur de votre
            ordinateur). Les cookies nous aident à améliorer notre Plateforme et à
            fournir un service de meilleure qualité. Nous utilisons des cookies étant
            strictement nécessaires à votre utilisation de notre Plateforme. Vous
            pouvez refuser d’accepter ces cookies en activant le paramètre qui vous
            permet de refuser l’installation de cookies sur votre ordinateur.
            Cependant, si vous choisissez ce paramètre, il est possible que vous soyez
            incapable d’accéder à certaines parties de notre Plateforme.
        </p>
        <h3>
            <a name="Bookmark4"></a>
            <strong>7. Partage avec des tiers</strong>
        </h3>
        <p align="JUSTIFY">
            Afin de vous apporter le meilleur service, nous pouvons dans certains cas
            partager vos données avec des tiers, notamment des partenaires techniques
            ou commerciaux. Nous ne partagerons vos données qu’avec des partenaires qui
            présentent des garanties suffisantes quant à la mise en œuvre de mesures
            techniques et organisationnelles appropriées de manière à garantir la
            protection de vos droits et de vos données.
        </p>
        <p align="JUSTIFY">
            Nous pouvons divulguer vos données à des tiers :
        </p>
        <ul>
            <li>
                <p align="JUSTIFY">
                    En cas de vente ou d’achat d’une de nos entreprises ou biens, nous
                    pouvons divulguer vos coordonnées au vendeur ou acheteur prospectif
                    de ces entreprises ou biens ;
                </p>
            </li>
            <li>
                <p align="JUSTIFY">
                    Si nous ou tous nos biens sont acquis par un tiers, toutes
                    coordonnées gardées par nous sur nos clients seraient ainsi
                    transférés ;
                </p>
            </li>
            <li>
                <p align="JUSTIFY">
                    Si nous avons l’obligation de divulguer ou de partager vos
                    coordonnées afin de se conformer à toute obligation légale ;
                </p>
            </li>
            <li>
                <p align="JUSTIFY">
                    Afin de protéger nos droits, propriété ou sécurité, nos clients ou
                    autres ;
                </p>
            </li>
            <li>
                <p align="JUSTIFY">
                    En cas d’échange d’informations avec d’autres sociétés et
                    organisations à des fins de protection contre la fraude et la
                    réduction du risque de crédit.
                </p>
            </li>
        </ul>
        <h3>
            <a name="Bookmark5"></a>
            <strong>
                9. Changements liés à notre politique de confidentialité de votre vie
                privée relative à la Plateforme KIVID
            </strong>
        </h3>
        <p align="JUSTIFY">
            Tout changement que nous faisons à notre Politique de Confidentialité dans
            le futur sera posté sur cette page.
        </p>
        <h3>
            <a name="Bookmark6"></a>
            <strong>10. Contact</strong>
        </h3>
        <p align="JUSTIFY">
            Si vous avez la moindre question concernant cette Politique de
            Confidentialité et la façon dont nous utilisons vos Données Personnelles,
            celle-ci est bienvenue et devra être adressée à <a href="mailto:support@kivid.fr">support@kivid.fr</a>
        </p>
    </div>
    <button class="btn-go-to-top">
		<i class="fas fa-arrow-up"></i>
	</button>
{% endblock %}
