{% extends 'layout/fullpage-vue.html.twig' %}

{% block title %}Le lien a expiré | KIVID{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body_class %}fuzzy-balls animated{% endblock %}
{% block body %}
	<div class="container fullpage">
		<div class="logo">
			<img src="/img/logo-kivid.svg" alt="Logo Kivid">
		</div> 
		<section class="kiv-block">
			<h2>Le lien de réinitialisation du mot de passe a expiré</h2>
			<p>zaaz</p>
		</section>
	</div>
{% endblock %}
 