:root {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    // font-size: 56.25%;
    font-size: 62.5%;

    background-color: #faf8f4;
    color: $black;
    // scroll-behavior: smooth;

    * {
        box-sizing: border-box;
    }

    &.black {
        background-color: $black;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e7dfcd;
    border: 2px solid $white;
    border-radius: 4px;
}
