:root {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    background-color: #f5f2ec;
}

body .fuzzy-balls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    .ball-1 {
        position: absolute;
        width: 57.4rem;
        height: 57.4rem;
        left: -21.9rem;
        top: -21.3rem;

        background: radial-gradient(50% 50% at 50% 50%, #fb8b68 0%, #f0f4f7 100%);
        opacity: 0.25;
    }

    .ball-2 {
        position: absolute;
        width: 146.2rem;
        height: 146.2rem;
        left: -48.1rem;
        top: 29rem;

        background: radial-gradient(50% 50% at 50% 50%, #ffcb46 0%, #f0f4f7 100%);
        opacity: 0.25;
    }

    .ball-3 {
        position: absolute;
        width: 57.4rem;
        height: 57.4rem;
        right: -21rem;
        top: 9.2rem;

        background: radial-gradient(50% 50% at 50% 50%, #fb8b68 0%, #f0f4f7 100%);
        opacity: 0.25;
    }
}
