// Kivid Color
$white: #fff;
$gray-light: #faf8f4;
$gray-middle: #e7dfcd;
$gray-dark: #c1b79d;
$black: #222e54;
$red: #ff564b;
$sanguine: #ff6838;
$orange: #fb8b68;
$tournesol: #ffa126;
$yellow: #ffcb46;
$green: #3dc863;
$chart1: #5c91e1;
$chart2: #8f67d1;
$chart3: #57cdbf;
$chart4: #f17cd7;
$chart5: #93d2a5;
$chart6: #b24788;

// Kivid Variables Color
$primary: $sanguine;
$secondary: $white;
$success: $green;
$warning: $yellow;
$danger: $red;
$info: $gray-dark;

// Other Color
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$teal: #20c997;
$cyan: #0dcaf0;
