{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Dashboard Admin | KIVID{% endblock %}

{% block content %}
	<!-- CONTENT -->
	<section>
		<div class="container">
            <h3 class="fw-bold">
                Accueil admin
            </h3>

			<div class="row">
				<div class="col-12 col-md-6 my-3">
					<!-- Card -->
					<div class="card card-border border-primary shadow-lg mb-6 mb-md-8 mb-lg-0 lift lift-lg">
						<div
							class="card-body text-center">

							<!-- Icone -->
							<div class="icon-circle bg-light text-primary mb-2">
								<i class="fas fa-user"></i>
							</div>

							<!-- Heading -->
							<h4 class="fw-bold">
								Nombre de patients
							</h4>

							<!-- Badge -->
							<span class="badge rounded-pill bg-primary-soft">
								<span class="h4 text-primary text-uppercase">
									{{ countAllPatients }}
								</span>
							</span>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 my-3">
					<!-- Card -->
					<div class="card card-border border-danger shadow-lg mb-6 mb-md-8 mb-lg-0 lift lift-lg">
						<div
							class="card-body text-center">

							<!-- Icone -->
							<div class="icon-circle bg-light text-danger mb-2">
								<i class="fas fa-user-nurse"></i>
							</div>

							<!-- Heading -->
							<h4 class="fw-bold">
								Nombre de praticiens
							</h4>

							<!-- Badge -->
							<span class="badge rounded-pill bg-danger-soft">
								<span class="h4 text-danger text-uppercase">
									{{ countAllDoctors }}
								</span>
							</span>

						</div>
					</div>
				</div>
            </div>
		</div>
	</section>
{% endblock %}
