{{ form_start(form, {'action': path('app_doctor_create_patient', {'id':doctor.id}), 'method': 'POST'}) }}
	<button class="valid-form-btn vs-button vs-button--null vs-button--size-null vs-button--primary vs-button--transparent">
		<div class="vs-button__content">
			Confirmer
		</div>
	</button>
{{ form_end(form) }}
