<div class="d-flex flex-center justify-content-center">
	<span class="badge rounded-pill bg-primary-soft">
		<span class="h4 text-uppercase">
			PROFIL
		</span>
	</span>
</div>

{{ include('doctor/_form.html.twig', {'button_label': 'Mettre à jour'| upper, 'actionRoute': 'app_doctor_edit'}) }}
