{% extends 'layout/main.html.twig' %}

{% block title %}Mes Patients{% endblock %}

{% block stylesheets %}
    {{ parent() }}

	{{ encore_entry_link_tags('patient-list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

	{{ encore_entry_script_tags('patient-list') }}
{% endblock %}

{% block body %}
	{% include 'layout/partial/_breadcrumb.html.twig' with { pageName : 'Mes Patients'} %}

	<div id="patient-list"></div>
{% endblock %}
