<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" CONTENT="KIVID, programmes d’exercices prescrits par votre thérapeute pour optimiser votre rééducation">
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFGD802WFW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FFGD802WFW');
    </script>
    <body data-app class="{% block body_class %}{% endblock %}">
        {% block layout %}{% endblock %}
    </body>
</html>
