<style>
	type="text/css" media="screen"/* Linked Styles */
	body {
		padding: 0 !important;
		margin: 0 !important;
		display: block !important;
		min-width: 100% !important;
		width: 100% !important;
		background: #f9f3e4;
		-webkit-text-size-adjust: none
	}
	a {
		color: #66c7ff;
		text-decoration: none
	}
	p {
		padding: 0 !important;
		margin: 0 !important
	}
	img {
		-ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */
	}
	.mcnPreviewText {
		display: none !important;
	}
	.column-top {
		float: left !important;
		width: 100% !important;
		display: block !important;
	}

	/* Mobile styles */
	@media only screen and(max-device-width: 480px),
	only screen and(max-width: 480px) {
		.mobile-shell {
			width: 100% !important;
			min-width: 100% !important;
		}
		.bg {
			background-size: 100% auto !important;
			-webkit-background-size: 100% auto !important;
		}

		.text-header {
			text-align: center !important;
		}

		.center {
			margin: 0 auto !important;
		}
		.container {
			padding: 20px 10px !important
		}

		.td {
			width: 100% !important;
			min-width: 100% !important;
		}

		.m-br-15 {
			height: 15px !important;
		}
		.p30-15 {
			padding: 30px 25px !important;
		}

		.m-td,
		.m-hide {
			display: none !important;
			width: 0 !important;
			height: 0 !important;
			font-size: 0 !important;
			line-height: 0 !important;
			min-height: 0 !important;
		}

		.m-block {
			display: block !important;
		}

		.fluid-img img {
			width: 100% !important;
			max-width: 100% !important;
			height: auto !important;
		}

		.column,
		.column-empty,
		.column-empty2,
		.column-dir-top {
			float: left !important;
			width: 100% !important;
			display: block !important;
		}

		.column-empty {
			padding-bottom: 10px !important;
		}
		.column-empty2 {
			padding-bottom: 30px !important;
		}

		.content-spacing {
			width: 15px !important;
		}
	}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f9f3e4">
	<tr>
		<td align="center" valign="top">
			<table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
				<tr>
					<td
						class="td container" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; margin:0; font-weight:normal; padding:55px 0px;">

						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="p30-15" style="padding: 0px 30px 30px 30px;">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<th class="column-top" width="145" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="img" style="font-size:0pt; line-height:0pt; text-align: center !important;"><img src="{{ email.image('@email/logo.png') }}" alt="Kivid Logo" width="190" height="55" border="0" alt=""/></td>
													</tr>
												</table>
											</th>
										</tr>
									</table>
								</td>
							</tr>
						</table>

						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td style="padding-bottom: 10px;">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="tbrr p30-15" style="padding: 60px 30px; border-radius:15px;" bgcolor="#fff">
												{% block content %}{% endblock %}
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
